*.sock

/*.yml
/*.md
/.git*

.dockerignore
.DS_Store

build*
cloudformation*
coffeelint.json
/coverage
/db/*.rb
/db/migrate
/doc
/docker
Gurdfaile
/lib/data
/lib/migrate*
/lib/tasks
/lib/templates
/log
/public/coverage
/public/uploads
Rakefile
README*
/spec
/ssl
/test
/tmp
